.formtitulo {
    font-family: serif;
    font-size: 2em;
}

form {
    margin: 30px 0 0 0;
}

form label {
    display: block;
    font-family: serif;
}

form input {
    display: block;
    margin-bottom: 20px;
}

.formcheckbox {
    display: inline;
    margin-bottom: 20px;
}

.botaoenviar {
    margin-top: 20px;
}